<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="media g-mb-30 media-comment">
        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
          <div class = "g-mb-15">
            <h4 class="h4 g-color-gray-dark-v1 mb-4">Estadisticas generales de datos de suicidios</h4>
            <iframe title="Tablero" width="650" height="400" src="https://app.powerbi.com/reportEmbed?reportId=e5f3decc-2862-4aaa-8f5d-579091199fa5&autoAuth=true&ctid=fabd047c-ff48-492a-8bbb-8f98b9fb9cca" frameborder="0" allowFullScreen="true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
